@charset "UTF-8";
.dropdown__input, .dropdown__item {
  height: 30px;
  padding: 4px 13px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 40px;
}

.dropdown {
  position: relative;
  width: 400px;
}
.dropdown__input {
  display: block;
  border: 1px solid #777;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  font-size: 17px;
}
.dropdown__input:after {
  content: '▼';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 4px;
  height: 100%;
  line-height: 30px;
  border-left: 1px solid #777;
  cursor: pointer;
}
.dropdown__container {
  position: absolute;
  left: 0;
  display: none;
  width: 100%;
  max-height: 150px;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  background-color: #fff;
  z-index: 1;
}
.dropdown__container_bottom {
  top: 30px;
}
.dropdown__container_bottom ~ .dropdown__input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.dropdown__container_top {
  bottom: 30px;
}
.dropdown__container_top ~ .dropdown__input {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.dropdown__container_visible {
  display: block;
}
.dropdown__container_scrollable {
  overflow-y: scroll;
}
.dropdown__item {
  display: block;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  cursor: pointer;
}
.dropdown__item:hover {
  background-color: rgba(136, 136, 136, 0.4);
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 0;
  }

  .dropdown {
    margin: auto;
  }
}
@media screen and (max-width: 440px) {
  .dropdown {
    width: 80%;
  }
}
